@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "poppins", sans-serif;
}

/*Color de textos principales*/
/*Color blanco*/
/*Color de banner*/
/*Color de navba*/
/*Color de bonton principal*/
/*Color de bonton secundario*/
/*Color de bonton catalog*/
.navbard a {
  font-weight: 600;
  font-size: 18px;
}

.navcontainer {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.nav-active {
  font-weight: bold;
  border-bottom: 2px solid #212529;
}

.nav_primary {
  background-color: transparent !important;
  color: azure;
}
.nav_primary .nav-active {
  border-bottom: 2px solid #ffffff;
}
.nav_primary .nav-item .nav-link {
  color: aliceblue;
}

.logocolor {
  color: #008584;
  font-weight: bold;
  font-size: 1.5rem;
}

.logocolor-primary {
  color: #212529;
}

.textNav_primary {
  text-decoration: #ffffff !important;
}

/*Color de textos principales*/
/*Color blanco*/
/*Color de banner*/
/*Color de navba*/
/*Color de bonton principal*/
/*Color de bonton secundario*/
/*Color de bonton catalog*/
.carousel-item {
  min-height: 400px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: 10px auto;
  font-size: 18px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/*Color de textos principales*/
/*Color blanco*/
/*Color de banner*/
/*Color de navba*/
/*Color de bonton principal*/
/*Color de bonton secundario*/
/*Color de bonton catalog*/
/*Implementacion de nesting*/
.card-body {
  width: 200px;
  height: 200px;
}
.card-body .card-title {
  color: #212529;
  font-weight: 500;
}

.card-servicios {
  width: 200px;
  height: 200px;
  padding: 1rem 1rem;
}
.card-servicios .card-title {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bg_primary {
  background-color: #c5e2dc !important;
}

/*codigo pasado de css a scss*/
.card-productos {
  margin: 0 auto;
  width: 90%;
}

.productimg img {
  width: 2px;
  height: 2px;
}

.services {
  padding: 50px 0;
}

.bg-car1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../reptiles/reptilportada.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-car2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../perros/Recurso2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-car3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../anfibios/Anfibiosportada.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Color de textos principales*/
/*Color blanco*/
/*Color de banner*/
/*Color de navba*/
/*Color de bonton principal*/
/*Color de bonton secundario*/
/*Color de bonton catalog*/
/*Color de textos principales*/
/*Color blanco*/
/*Color de banner*/
/*Color de navba*/
/*Color de bonton principal*/
/*Color de bonton secundario*/
/*Color de bonton catalog*/
/*Implementacion de mixings*/
.btn-custom {
  color: #ffffff;
  background-color: #006666;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px 6px 12px 0;
  cursor: pointer;
}
.btn-custom:visited {
  color: #ffffff;
}
.btn-custom:hover {
  color: #212529;
  background-color: #f5f5f5;
}
.btn-custom:active, .btn-custom:focus {
  color: #212529;
  background-color: #f5f5f5;
}

.btn-custom2 {
  color: #ffffff;
  background-color: #008584;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px 6px 12px 0;
  cursor: pointer;
}
.btn-custom2:visited {
  color: #ffffff;
}
.btn-custom2:hover {
  color: #212529;
  background-color: #f5f5f5;
}
.btn-custom2:active, .btn-custom2:focus {
  color: #212529;
  background-color: #f5f5f5;
}

.btn-catalogo {
  color: #ffffff;
  background-color: #008584;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px 6px 12px 0;
  cursor: pointer;
}
.btn-catalogo:visited {
  color: #ffffff;
}
.btn-catalogo:hover {
  color: #212529;
  background-color: #e9e9e9;
}
.btn-catalogo:active, .btn-catalogo:focus {
  color: #212529;
  background-color: #e9e9e9;
}

.imagenportada {
  width: 100%;
  height: 400px;
}

.titlle {
  font-size: 10px;
  color: #ffffff;
}

.card-title {
  color: #ffffff;
}

.box-icons i {
  font-size: 40px;
}

.box-icons h3 {
  font-size: 20px;
  font-weight: 800;
}

.product {
  padding: 0px;
}

.secction-header {
  padding: 20px;
}

.card img {
  width: 150px;
  height: 150px;
}

.banner {
  padding: 50px 0;
  margin-bottom: 20px;
  background-color: beige;
}

.banner2 {
  padding: 80px 0;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.banner h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.banner img {
  width: 300px;
}

@media (max-width: 767px) {
  .carousel-item {
    min-height: 500px;
  }
  .carousel-item img {
    height: 500px;
  }
  .carousel-caption {
    bottom: 30px;
  }
  .carousel-caption h5 {
    font-size: 50px;
    margin-top: 0;
  }
  .carousel-caption p {
    width: 100%;
    font-size: 16px;
  }
  .services {
    padding: 30px 0;
  }
  .product {
    padding: 30px 0 0 0;
  }
}
.contact_button {
  margin: 10px;
  width: 15rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 12px 6px 12px 0;
  background-color: #006666;
}



/*# sourceMappingURL=style1.css.map */
